@font-face{
    font-family: "AmazOOSTROVv.2";
    font-style: normal;
    font-weight: normal;
    src: local("AmazOOSTROVv.2"),
    url("../fonts/AmazOOSTROVv.2.ttf")format("truetype");

}

body{
    
    margin: 0 auto;
    background-image:url("../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    

}

a{
    text-decoration: none;
    color: gold;
}
a:hover{
    color: red;
}
main{
    margin-left: 290px;
    width: 1150px;
    height: 3500px;
}
header{
    position: fixed;
    width: 50px;
    height: 100%;
    margin-top: 80px;
}
.discordPlace{
    margin-top: 80px;
    margin-left: 330px;
}

.ourInfo{
    position: fixed;
    height: 65px;
    width:max-content;
    margin-left: 10px;
}
.ourInfo img:hover{
    opacity: 0.5;
}
.fighterFinder{
    height:fit-content;
    width:100%;
    background-color: rgb(0, 0, 0,0.5);
    border-radius: 20px;
    border: 2px solid red;

}

.fighterFinder ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.fighterFinder li{
    text-align: center;
    height:fit-content;
    margin: 2px;
    font-size: 18px;
}
.fighterFinder a:hover{
    background-color: gold;
}

.boxs{
    float: left;
    width: 25%;
    height: 100%;
    
}
.boxFighter{
    position:absolute;
    top: 0px;
    height: 3500px;
    width: 85px;
    background-color: hsl(0, 0%, 0%,0.5);
}

.fighterContent{
    height: 3415px;
    width: 85px;
    margin-top: 80px;
    float: right;
}
.fighterAvatar{
    background-color: rgb(255, 255, 255);
    width: 85px;
    height: 128px;
}
.fighterInfo{
    position: relative;
    
    
}
.fighterInfo-content{
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    width: 486px;
    height:fit-content;
    z-index: 1;
    left: 85px;
    top:0px;
    text-align: center;
    color: white;
    border: 2px solid rgb(255, 0, 0);
    font-family: 'Times New Roman', Times, serif;

}
.fighterInfo-contentRight{
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    width: 486px;
    height: fit-content;
    z-index: 1;
    right: 85px;
    top:0px;
    text-align: center;
    color: white;
    border: 2px solid rgb(255, 0, 0);
    font-family: 'Times New Roman', Times, serif;

}
.fighterInfo-content ol{
    text-align: left;
    margin-bottom: 0;
}
.fighterInfo-contentRight ol{
    text-align: left;
}
.fighterInfo-contentName{
    display: block;
    position: absolute;
    width:max-content;
    height:fit-content;
    z-index: 1;
    right: 90px;
    top:0px;
    color: gold;
    line-height:normal;
    font-size: 36px;
    text-align: right;
    font-family: "AmazOOSTROVv.2";
    background-color: rgb(0, 0, 0,0.6);
    border-radius: 3px;
}
.fighterInfo-content img{
    margin-top: 30px;
}

.fighterInfo-contentNameRight{
    display: block;
    position: absolute;
    width:max-content;
    height:fit-content;
    z-index: 1;
    left: 90px;
    top:0px;
    color: gold;
    line-height:normal;
    font-size: 36px;
    text-align: left;
    font-family: "AmazOOSTROVv.2";
    background-color: rgb(0, 0, 0,0.6);
    border-radius: 3px;
}
.h1NameStyle{
    background-color: rgb(0, 0, 0);
}
.fighterInfo-content h1::first-letter{
    color: red;
}
.fighterInfo-contentRight h1::first-letter{
    color: red;
}
.fighterInfo:hover .fighterInfo-content{
    display: block;
}
.fighterInfo:hover .fighterInfo-contentRight{
    display: block;
}
.fighterAvatar:hover .fighterInfo-contentName{
    display: none;
}
.fighterAvatar:hover .fighterInfo-contentNameRight{
    display: none;
}
